<header class="top-bar">
  <mat-toolbar class="top-bar__toolbar">
    <app-wordmark class="top-bar__wordmark" />

    <nav class="top-bar__nav" aria-label="Primary">
      @for (link of navLinks; track link.path) {
        <a
          matButton
          class="top-bar__link"
          [routerLink]="link.path"
          routerLinkActive="top-bar__link--active"
          ariaCurrentWhenActive="page"
        >
          <mat-icon aria-hidden="true">{{ link.icon }}</mat-icon>
          {{ link.label }}
        </a>
      }
    </nav>

    <app-search-field class="top-bar__search" (search)="search.emit($event)" />

    <div class="top-bar__actions">
      <button
        matIconButton
        type="button"
        aria-label="Notifications"
        matTooltip="Notifications"
        [matBadge]="unreadNotifications()"
        [matBadgeHidden]="unreadNotifications() === 0"
        matBadgeSize="small"
        matBadgeColor="primary"
      >
        <mat-icon>notifications</mat-icon>
      </button>

      <app-theme-toggle />

      <button
        matIconButton
        type="button"
        aria-label="Account"
        matTooltip="Account"
        [matMenuTriggerFor]="accountMenu"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu" xPosition="before" aria-label="Account">
        <a mat-menu-item routerLink="/settings">
          <mat-icon>login</mat-icon>
          <span>Sign in</span>
        </a>
        <a mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </a>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
